html(lang="en")
  head
    include metas.pug
  title canvas
  body
    <div style="width: 20px; height: 50px">ss</div>
    canvas#canvas(style="margin: 30px;border: 50px solid #eee" width="300px" height="200px")
    button#erase erase
    button#draw draw
    button#getimage getimg
    button#clearall clear all
    button#getblob get blob
    div.class