html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
  body
    header.home-header
      div.fake-fantasy-back
      ul.item-container
        each v in ['one', 'two', 'three']
          li.item= v
    section.container ttttest cbjc safash dsa


