html(lang="en")
  head
    include metas.pug
    link(rel="manifest", href=require("../manifest.json"))
    title Webm Maker
  body
    div.wrapper
      div#container test
        div.fake-images
          ul.fake-img-con
            li.img-container
        canvas#canvas