@import common
@import variables

.home-header
  position: fixed
  width: 100%

  .fake-fantasy-back
    +fantasy-bac

    height: 100%
    left: 0
    position: absolute
    top: 0
    width: 100%

  .item-container
    display: flex
    position: relative

    .item
      flex: 1
      padding: 1rem
      text-align: center
